{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Войти в сайт</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


    <div class="container text-center mt-5 mb-5 w-50">
            <div class="row">
        <div class="col-md-12">
            <form method="post">{% csrf_token %}
                {{ login_form | crispy }}
                <button class="btn btn-primary w-100 mb-4" type="submit">Войти</button>
                <span>Нет аккаунта? Можете, <a href="{% url 'users:register' %}">зарегистрироваться</a></span>
            </form>
        </div>
    </div>
    </div><hr>
{% endblock content %}