{% extends 'base.html' %}
{% load static %}


{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Заказать</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- order form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">

				 	<div id="form_status"></div>
                    {% if messages %}
                      <div class="alert alert-success" role="alert">
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                      </div>
                      <script>
                        setTimeout(function() {
                          document.querySelector('.alert').style.display = 'none';
                        }, 5000); // hide the alert after 5 seconds
                      </script>
                    {% endif %}
					<div class="contact-form">
                        <form method="post" id="fruitkha-contact" onSubmit="return valid_datas( this );" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="{{ label.category }}">Категория</label>
                                    {{ form.category }}
                                </div>
                                <div class="col-md-6">
                                    <label for="{{ label.berry }}">Ягода</label>
                                    {{ form.berry }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 w-100">
                                    <label for="{{ label.amount }}">Количество</label>
                                    {{ form.amount }}
                                </div>
                                <div class="col-md-10">
                                    <label for="{{ label.address }}">Адрес доставки</label>
                                    {{ form.address }}
                                </div>
                            </div>
                            <p>
                                <label for="{{ label.comment }}">Коммент</label>
                                {{ form.comment }}
                            </p>
                            <p>
                                <input type="submit" value="Заказать" name="message">
                            </p>
                        </form>
					</div>
				</div>
            </div>
        </div>
    </div>
{% endblock content %}