{% extends 'base.html' %}
{% load static %}

{% block title %} Магазин {% endblock title %}

{% block content %}

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Свежий и органический</p>
                        <h1>Магазин</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- products -->
    <div class="product-section mt-150 mb-150">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="{% if not request.GET.category %}active{% endif %}">
                                <a href="{% url 'berries:shop-page' %}">Все</a>
                            </li>
                            {% for category in categories %}
                                <li class="{% if request.GET.category == category.pk %}active{% endif %}">
                                    <a href="?category={{ category.pk }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <script>
                    setTimeout(function () {
                        var alerts = document.querySelectorAll('.alert');
                        for (var i = 0; i < alerts.length; i++) {
                            alerts[i].style.display = 'none';
                        }
                    }, 5000); // Скрыть сообщения через 5 секунд
                </script>
            {% endif %}


            <div class="row product-lists">

                {% for berry in berries %}
                    <div class="col-lg-4 col-md-6 text-center {{ berry.category.name|slugify }}">
                        <div class="single-product-item">
                            <div class="product-image">
                                {% for berry_image in berry.berryimage_set.all|slice:"1" %}
                                    <a href="{% url 'berries:single-page' berry.id %}">
                                        <img src="{{ berry_image.image.url }}" alt="">
                                    </a>
                                {% endfor %}
                            </div>
                            <h3>{{ berry }}</h3>
                            <p class="product-price"><span>Per Kg</span>{{ berry.price }}</p>
                            <form action="{% url 'berries:add_to_favorites' berry.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="cart-btn">
                                    <i class="fas fa-shopping-cart"></i>Добавить в корзину
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <hr>
        </div>
    </div>


{% endblock content %}
