{% extends 'base.html' %}
{% load static %}



{% block content %}


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Свежий и органический</p>
						<h1>Магазин</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">Все</li>
                            <li data-filter=".strawberry">Клубника</li>
                            <li data-filter=".berry">Малина</li>
                            <li data-filter=".lemon">Смородина</li>
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'images/products/product-img-1.jpg' %}" alt=""></a>
						</div>
						<h3>Клубника</h3>
						<p class="product-price"><span>Per Kg</span> 85$ </p>
						<a href="basket.html" class="cart-btn"><i class="fas fa-shopping-cart"></i>Добавить в корзину</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center berry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'images/products/product-img-2.jpg' %}" alt=""></a>
						</div>
						<h3>Малина</h3>
						<p class="product-price"><span>Per Kg</span> 70$ </p>
						<a href="basket.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center lemon">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'images/products/product-img-3.jpg' %}" alt=""></a>
						</div>
						<h3>Смородина</h3>
						<p class="product-price"><span>Per Kg</span> 35$ </p>
						<a href="basket.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src=" {% static 'images/products/product-img-4.jpg' %}" alt=""></a>
						</div>
						<h3>Авакадо</h3>
						<p class="product-price"><span>Per Kg</span> 50$ </p>
						<a href="basket.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'images/products/product-img-5.jpg' %}" alt=""></a>
						</div>
						<h3>Яблока</h3>
						<p class="product-price"><span>Per Kg</span> 45$ </p>
						<a href="basket.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'images/products/product-img-6.jpg' %}" alt=""></a>
						</div>
						<h3>Клубника</h3>
						<p class="product-price"><span>Per Kg</span> 80$ </p>
						<a href="basket.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->


{% endblock content %}